Repository Netvent/storyly-sdk, pull requests merged in 2022-10, with the labels that each got.

#233 fix(core-flutter): update properties with flutter 3+ support
  flutter/storyly_flutter/android/src/main/kotlin/com/appsamurai/storyly/storyly_flutter/FlutterStorylyView.kt
  flutter/storyly_flutter/ios/Classes/FlutterStorylyViewWrapper.swift
  flutter/storyly_flutter/lib/storyly_flutter.dart
Labels: flutter

#236 feat(core-flutter): add view id handling to storyly_flutter for monetization
  flutter/storyly_flutter/android/build.gradle
  flutter/storyly_flutter/ios/Classes/FlutterStorylyView.swift
  flutter/storyly_flutter/ios/Classes/FlutterStorylyViewWrapper.swift
  flutter/storyly_flutter/ios/Classes/SwiftStorylyFlutterPlugin.swift
  flutter/storyly_flutter/lib/storyly_flutter.dart
Labels: flutter, monetization

#238 fix(flutter-core): fix rootViewController is not presented with extension method
  flutter/storyly_flutter/ios/Classes/FlutterStorylyViewWrapper.swift
Labels: flutter, fix

#240 refactor(core-rn): refactor react-native objc implementation to swift
  react-native/storyly-react-native/StorylyDemo/App.js
  react-native/storyly-react-native/StorylyDemo/ios/Podfile.lock
  react-native/storyly-react-native/StorylyDemo/ios/StorylyDemo.xcodeproj/project.pbxproj
  react-native/storyly-react-native/StorylyDemo/ios/StorylyDemo/Images.xcassets/AppIcon.appiconset/Contents.json
  react-native/storyly-react-native/StorylyDemo/ios/StorylyDemo/Images.xcassets/Contents.json
  react-native/storyly-react-native/StorylyDemo/ios/StorylyDemo/Images.xcassets/close_icon.imageset/Contents.json
  react-native/storyly-react-native/StorylyDemo/ios/StorylyDemo/Images.xcassets/close_icon.imageset/close_icon.png
  react-native/storyly-react-native/StorylyDemo/ios/StorylyDemo/Images.xcassets/share_icon.imageset/Contents.json
  react-native/storyly-react-native/StorylyDemo/ios/StorylyDemo/Images.xcassets/share_icon.imageset/share_icon.png
  react-native/storyly-react-native/ios/RCTConvert+Storyly.h
  react-native/storyly-react-native/ios/RCTConvert+Storyly.m
  react-native/storyly-react-native/ios/RCTConvert+Storyly.swift
  react-native/storyly-react-native/ios/STStorylyManager.h
  react-native/storyly-react-native/ios/STStorylyManager.m
  react-native/storyly-react-native/ios/STStorylyManager.swift
  react-native/storyly-react-native/ios/STStorylyView.h
  react-native/storyly-react-native/ios/STStorylyView.m
  react-native/storyly-react-native/ios/STStorylyView.swift
  react-native/storyly-react-native/ios/StorylyReactNative-Bridging-Header.h
Labels: refactor
